html {
  font-size: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #FFCF96;
  background:  #ff8080;
  overflow: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
